<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/unipampa/erdsl/ErDsl"
			class = "org.xtext.unipampa.erdsl.erDsl.ErDslPackage"
			genModel = "model/generated/ErDsl.genmodel" />
	</extension>
 <extension
       id="ERtextModeler"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="ERtext Modeling Tool">
       <property
             name="appName"
             value="ERtext Modeling Tool">
       </property>
       <property
             name="aboutText"
             value="This tool is a Domain-Specific Language implementation for the conceptual modeling of relational databases.&#x0A;&#x0A;The project for this product is publicly available under the EPL-2.0 license in a GitHub repository (github.com/ProjetoDSL/ERDSL), belonging to the Laboratory of Empirical Studies in Software Engineering (LESSE) research group of the Federal University of Pampa (UNIPAMPA).&#x0A;&#x0A;2019-2021">
       </property>
       <property
             name="aboutImage"
             value="about.png">
       </property>
    </product>
 </extension>
 <extension
       point="org.eclipse.ui.splashHandlers">
    <splashHandler
          class="org.xtext.unipampa.erdsl.splashHandlers.InteractiveSplashHandler"
          id="org.xtext.unipampa.erdsl.splashHandlers.interactive">
    </splashHandler>
 </extension>
</plugin>
