<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/ErDsl2"
			class = "org.xtext.example.erDsl2.ErDsl2Package"
			genModel = "model/generated/ErDsl2.genmodel" />
	</extension>
</plugin>
